[credential]
	helper =
[credential "https://green-git.hollysys.net"]
	username = oauth2
	useHttpPath = true
	helper = !/usr/local/bin/gitlab-credential
[user]
	name = Hermes PRD Writer
	email = prd-writer-bot@hermes.invalid
