HERMES_PROFILE=fde
GITLAB_HOST=
GITLAB_ALLOWED_GROUPS=
GITLAB_TOKEN=
API_SERVER_PORT=8644
FEISHU_APP_ID=
FEISHU_APP_SECRET=
FEISHU_DOMAIN=feishu
FEISHU_CONNECTION_MODE=websocket
FEISHU_ALLOWED_USERS=
FEISHU_HOME_CHANNEL=
FEISHU_GROUP_POLICY=allowlist
FEISHU_REQUIRE_MENTION=true
LARKSUITE_CLI_CONFIG_DIR=/opt/data/profiles/fde/.lark-cli/config
LARKSUITE_CLI_DATA_DIR=/opt/data/profiles/fde/.lark-cli/data
LARKSUITE_CLI_NO_UPDATE_NOTIFIER=1
LARKSUITE_CLI_NO_SKILLS_NOTIFIER=1
